*{
  margin: 0;
  padding: 0;
  font-size: 16.8px;
  font-weight: 800;
}
a{
  color:#000;
  text-decoration: none;
}
.ani_2, .ani_3, .ani_4, .ani_5, .ani_6{
  display: none;
}
section{
  box-sizing: border-box;
  padding: 32px 0 128px 0;
  background-color:#DCEBFF;
}
li{
    list-style:  none;
}
ul{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  width: 1280px;
}
.menu li a{
  padding: 18px;
}
.hover{
  color: #b5b5b5;
}
.button-list li a{
  color: #000;
  padding: 18px;
}
.hover:hover{
  color:#979797;
}
ul{
  position: relative;
}
#u-Bar{
  display:none;
  width:25px;
  height: 2px;
  position: absolute;
  background-color:#D94F5C;
  z-index: 999;
  left: 0px;
  top: 30px;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(1, 0.01, 0, 1.22);
}
.active1{
  transition-duration: 0.2s;
  color:#D94F5C
}
.active2{
  transition-duration: 0.2s;
  color:#D94F5C;

}
.ani_2 a{
  border-top: 2px solid #D94F5C;
  border-bottom: 2px solid #D94F5C;
}
