* {
  margin: 0;
  padding: 0;
  font-size: 16.8px;
  font-weight: 800;
}

a {
  color: #000;
  text-decoration: none;
}

.ani_2, .ani_3, .ani_4, .ani_5, .ani_6 {
  display: none;
}

section {
  box-sizing: border-box;
  padding: 32px 0 128px 0;
  background-color: #DCEBFF;
  height: 200px;
}
.button-list{
  background-color: #DCEBFF;
  height: 30px;
}

li {
  list-style: none;
}

ul {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  width: 1280px;
}
/*ani_1*/
.menu li a {
  padding: 18px;
}

.hover {
  color: #b5b5b5;
}

.button-list li a {
  color: #000;
  padding: 18px;
}

.hover:hover {
  color: #979797;
}

ul {
  position: relative;
}

#u-Bar {
  display: none;
  width: 25px;
  height: 2px;
  position: absolute;
  background-color: #D94F5C;
  z-index: 999;
  left: 0px;
  top: 30px;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(1, 0.01, 0, 1.22);
}

.active1 {
  transition-duration: 0.2s;
  color: #D94F5C
}

.hover:focus {
  color: #D94F5C;
  transition-duration: 0.2s;
}
/*button*/
#button{
  padding: 0 7px 0;
  margin-left: 5px;
  color: #b5b5b5;
}
#button:hover{
    color: #979797;
}
#button:focus{
    color: #D94F5C;
}

/*ani_2*/
.ani_2 a {
  position: relative;
}

.ani_2 a::after {
  left: 7px;
  top: 3px;
  border-top: 2px solid #D94F5C;
  position: absolute;
  content: '';
  width: 0%;
  transition-duration: 0.4s;
  -webkit-transition-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1);
  -o-transition-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1);
  transition-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1);
}

.ani_2 a:focus::after {
  width: 80%;
  transition-duration: 0.4s;
  -webkit-transition-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1);
  -o-transition-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1);
  transition-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1);
}

.ani_2 a::before {
  right: 10px;
  top: 55px;
  position: absolute;
  content: '';
  border-bottom: 2px solid #D94F5C;
  width: 0%;
  transition-duration: 0.4s;
  -webkit-transition-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1);
  -o-transition-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1);
  transition-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1);
}

.ani_2 a:focus::before {
  width: 80%;
  transition-duration: 0.4s;
  -webkit-transition-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1);
  -o-transition-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1);
  transition-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1);
}

/*ani_3*/
.ani_3 a {
  position: relative;
  text-align: center;
}

.ani_3 .hover {
  margin: 18px;
  padding: 0;
}

.ani_3 a::before {
  content: '';
  position: absolute;
  border-bottom: 4px solid #D94F5C;
  width: 0%;
  left: 50%;
  top: 25px;
  transition: width 0.125s, transform 0.5s;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.ani_3 a:focus::before {
  width: 100%;
  transform: translateX(-50%);
  transition: width 0.5s, transform 0.125s;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/*ani4*/
.ani_4 li{
  position: relative;
  padding: 0;
  margin: 0 6px 0;
}

.ani_4 .hover {
  position: relative;
  padding: 12px;
}

.ani_4 a::before {
  top: 0;
  left: 0;
  position: absolute;
  content: '';
  width: 0%;
  border-top: 2px solid #D94F5C;
  transition-duration: 0.4s;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.ani_4 a:focus::before {
  width: 100%;
  transition-duration: 0.4s;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.ani_4 a::after {
  bottom: 0;
  right: 0;
  position: absolute;
  content: '';
  width: 0%;
  border-bottom: 2px solid #D94F5C;
  transition-duration: 0.4s;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.ani_4 a:focus::after{
  width: 100%;
  transition-duration: 0.4s;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.ani_4 .ani{
  transition-duration: 0.4s;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.ani_4 #left{
  top: 0;
  right: 0;
  position: absolute;
  border-right: 2px solid #D94F5C;
  height: 0%;
  transition-duration: 0.4s;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
#menu-list:focus > #left{
    height: 100%;
    transition-duration: 0.4s;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    -o-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.ani_4 #right{
  display: block;
  bottom: 0;
  left: 0;
  position: absolute;
  border-left: 2px solid #D94F5C;
  height: 0%;
  transition-duration: 0.4s;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
#menu-list:focus > #right{
    height: 100%;
    transition-duration: 0.4s;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    -o-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
/*ani 5*/
.ani_5 .hover{
  position: relative;
  padding: 12px;
}
.ani_5 li{
  position: relative;
  padding: 0;
  margin: 0 6px 0;
}
.ani_5 a::before{
  top: 0;
  left: 0;
  position: absolute;
  content: '';
  width: 0%;
  border-top: 4px solid #D94F5C;
  transition-duration: 0.4s;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.ani_5 a:focus::before{
  width: 100%;
  transition-delay: 0.3s;
  transition-duration: 0.4s;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.ani_5 a::after{
  bottom: 0;
  right: 0;
  position: absolute;
  content: '';
  width: 0%;
  border-top: 4px solid #D94F5C;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.ani_5 a:focus::after{
  width: 100%;
  transition-duration: 0.4s;
  transition-delay: 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.ani_5 #left1{
  top: 0;
  right: 0;
  position: absolute;
  border-right: 4px solid #D94F5C;
  height: 0%;
  transition-duration: 0.4s;
  transition-delay: 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
#menu-listt:focus > #left1{
    height: 100%;
    transition-delay: 0s;
    transition-duration: 0.4s;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    -o-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.ani_5 #right1{
  display: block;
  bottom: 0;
  left: 0;
  position: absolute;
  border-left: 4px solid #D94F5C;
  height: 0%;
  transition-delay: 0.3s;
  transition-duration: 0.4s;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
#menu-listt:focus > #right1{
    height: 100%;
    transition-delay: 0s;
    transition-duration: 0.4s;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    -o-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
/*ani_6*/
.ani_6 .hover{
  position: relative;
  padding: 12px;
}
.ani_6 li{
  position: relative;
  padding: 0;
  margin: 0 6px 0;
}
.ani_6 a::before{
  top: 0;
  left: 0;
  position: absolute;
  content: '';
  width: 0%;
  border-top: 2px solid #D94F5C;
  transition-delay: 0.1s;
  transition-duration: 0.1s;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.ani_6 a:focus::before{
  width: 100%;
  transition-delay: 0.2s;
  transition-duration: 0.1s;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.ani_6 a::after{
  bottom: 0;
  right: 0;
  position: absolute;
  content: '';
  width: 0%;
  border-top: 2px solid #D94F5C;
  transition-duration: 0.1s;
  transition-delay: 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.ani_6 a:focus::after{
  width: 100%;
  transition-delay: 0s;
  transition-duration: 0.1s;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.ani_6 #left2{
  top: 0;
  right: 0;
  position: absolute;
  border-right: 2px solid #D94F5C;
  height: 0%;
  transition-duration: 0.1s;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
#menu-lists:focus > #left2{
    height: 100%;
    transition-delay: 0.3s;
    transition-duration: 0.1s;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    -o-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.ani_6 #right2{
  display: block;
  bottom: 0;
  left: 0;
  position: absolute;
  border-left: 2px solid #D94F5C;
  height: 0%;
  transition-delay: 0.2s;
  transition-duration: 0.1s;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
#menu-lists:focus > #right2{
    height: 100%;
    transition-delay: 0.1s;
    transition-duration: 0.1s;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    -o-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
